<!DOCTYPE html>
<html lang="en">
<head>
    <title>M,N,K Competition</title>
    <link rel="icon" href="/favicon.ico"/>
    <script type="text/javascript" src="admin.js"></script>
</head>
<body>
    <h1>Tournament Admin Console</h1>

    Number of Boards to Run at Once: <input type="number" id="numBoards" min="1">
    <br>
    Number of Times to Run Each Matchup: <input type="number" id="numRematches" min="1">
    <br>
    Keys for Each Player (Comma Separated, No Whitespace Between or in Keys): <input type="text" id="playerKeys" min="1">
    <br>
    <button id="start">Start (or Restart) Tournament</button>
    <br>
    <button id="stop">Stop Tournament</button>

</body>
</html>